/bin/Debug/netcoreapp3.1/RockBand.deps.json
/bin/Debug/netcoreapp3.1/RockBand.dll
/bin/Debug/netcoreapp3.1/RockBand.exe
/bin/Debug/netcoreapp3.1/RockBand.pdb
/bin/Debug/netcoreapp3.1/RockBand.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/RockBand.runtimeconfig.json
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/apphost.exe
/obj/Debug/netcoreapp3.1/RockBand.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/RockBand.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/RockBand.assets.cache
/obj/Debug/netcoreapp3.1/RockBand.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/RockBand.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/RockBand.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/RockBand.dll
/obj/Debug/netcoreapp3.1/RockBand.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/RockBand.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/RockBand.csproj.nuget.dgspec.json
/obj/RockBand.csproj.nuget.g.props
/obj/RockBand.csproj.nuget.g.targets
